/* =============
    features
============= */

#features{

    scroll-margin-top: 40px;

    background-color: black;
    padding-top: 20px;
    padding: 10px;
    width: auto;
    height: 1600px;

    @include xl{
        height: 500px;
    }
    @include lg{
        height: 500px;
    }

    @include md{
        height: 1300px;
    }

        div{

            h1{
                color: var(--titlewhite);
                font-size: 35px;
            }
            #toaster1{

                .toasterimage1{
                    position: absolute;
                    top: 980px;
                    left: 50px;
                    width: 400px;

                    @include md{
                        position: absolute;
                        top: 1100px;
                        left: 470px;
                        width: 400px;
                    }

                    @include lg{
                        position: absolute;
                        top: 1800px;
                        left: 470px;
                        width: 400px;
                    }
                    
                }

                .backgroundcircle1{
                    position: absolute;
                    top: 990px;
                    left: 90px;
                    width: 350px;

                    @include md{
                        position: absolute;
                        top: 1100px;
                        left: 470px;
                        width: 400px;
                    }

                    @include lg{
                        position: absolute;
                        top: 1800px;
                        left: 440px;
                        width: 400px;
                    }
                // margin-left: 200px;
                display: flex;
                justify-content: flex-end;
                
                }
            }
            
            #toaster2{
                .toasterimage2{
                    position: absolute;
                    top: 1480px;
                    left: -10px;
                    width: 400px;

                    @include md{
                        position: absolute;
                        top: 1500px;
                        left: 300px;
                        width: 400px;
                    }

                    @include lg{
                    position: absolute;
                    top: 1500px;
                    left: 820px;
                    width: 500px; 
                    }
                    
            }
            
            .backgroundcircle2{
                    position: absolute;
                    top: 1480px;
                    left: 15px;
                    width: 350px;

                    @include md{
                        position: absolute;
                        top: 1550px;
                        left: 300px;
                        width: 400px;
                    }
                @include lg{
                    position: absolute;
                    top: 1500px;
                    left: 870px;
                    width: 400px;
                }
                
            }

            }

            #toaster3{
                .toasterimage3{
                    position: absolute;
                    top: 1900px;
                    left: -100px;
                    width: 400px;

                    @include lg{
                    position: absolute;
                    top: 1500px;
                    left: 40px;
                    width: 500px; 
                    }
                
            }

                .backgroundcircle3{
                    position: absolute;
                    top: 1940px;
                    left: -50px;
                    width: 310px;

                    @include lg{
                    position: absolute;
                    top: 1500px;
                    left: 40px;
                    width: 370px; 
                    }
                }
            }
            

            #featurepara1{
                text-align: left;
                // padding-right: 251px;
                // padding-left: 24px;
                // margin-left: 10px;
            }
            #featurepara2{
                text-align: left;
                // padding-right: 251px;
                // padding-left: 24px;
                // margin-left: 10px;
                margin-top: 340px;
            }
            #featurepara3{
                text-align: left;
                margin-left: 190px;
                margin-top: 370px;
            }
            #featurepara4{
                text-align: left;
                margin-left: 190px;
                margin-top: 270px;
            }
            
        }

}
