/* =============
    features
============= */

#features{

    scroll-margin-top: 90px;

    background-color: black;
    padding: 10px 40px 80px;


    h1{
        color: var(--titlewhite);
        font-size: 35px;
        padding-bottom: 40px;
    }
    @include md{
        display: grid;
        grid-template-columns: 100px auto 100px;
        grid-template-areas: ". features .";
    }

    @include lg{
            display: grid;
            grid-template-columns: 100px auto 100px;
            grid-template-areas: ". features .";
        }

        @include xl{
            display: grid;
            grid-template-columns: 200px auto 200px;
            grid-template-areas: ". features .";
        }

    #setup{


        @include lg{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        // grid-template-columns: 30% 10% 10% auto auto;
        grid-template-areas: 
        "t1 t1 f2 ."
        "f3 f3 t3 t3"
        "t2 t2 f4 f4"
        "t2 t2 f1 f1";

        }


        .toaster1{
            img{
                width: 100%;
            }
            background-color: var(--darkgrayblue);
            border-radius: 50%;

            @include lg{
                grid-area: t1;
            }
        }

    
        .toaster2{
            img{
                width: 100%;
            }
            background-color: var(--darkgrayblue);
            border-radius: 50%;

            @include lg{
                grid-area: t2;
            }
        }

        .toaster3{
            img{
                width: 100%;
            }
            background-color: var(--darkgrayblue);
            border-radius: 50%;

            @include lg{
                grid-area: t3;
            }
        }


        .featurepara1{
            text-align: left;
            padding: 0 100px 0 10px;

            @include lg{
                grid-area: f1;
                margin-left: -500;
                padding-right: 200px;
            }
        }

        .featurepara2{
            text-align: left;
            padding-right: 20px;
            padding: 20px 100px 0 10px;

            @include lg{
                grid-area: f2;
                padding-right: 10px;
                padding-left: 10px;
            }
        }

        .featurepara3{
            text-align: right;
            margin-left: 100px;
            padding-right: 20px;

            @include lg{
                text-align: left;
                grid-area: f3;
                margin-left: -500;
                padding-top: 100px;
                padding-right: 50px;
            }
        }

        .featurepara4{
            text-align: right;
            margin-left: 100px;
            padding-right: 20px;

            @include lg{
                text-align: left;
                grid-area: f4;
                padding-top: 100px;

            }
        }
    }
}
