/* =============
    product
============= */


#product{

    scroll-margin-top: 80px;


    div{

        margin-top: 20px;
        margin-bottom: 20px;
        padding: 20px;

        background-color: black;
        color: var(--title);

        ul{
            padding-top: 30px;


        li{
            .swatches{
                display: flex;
                gap: 5px;
                justify-content: flex-start;
                list-style-type: none;
                padding-bottom: 10px;
                margin-top: -70px;
                

                @include lg{
                    margin-top: 0;
                }
                

                a:link, a:visited {

                    border-radius: 50%;
                    transition: 0.25s;
                    
                    &:hover,
                    &:active {
                        padding: 10px;

                    }
                }
            }

            .type{
                grid-area: type;
                display: flex;
                flex-direction: column;
                list-style-type: none;
            }
        }
                

        .buynow{

            display: flex;
            justify-content: flex-end;
            align-content: right;
            padding: 40px 0 40px;

            a:link, a:visited {
                color: (var(--darkgrayblue));
                text-decoration: none;
                font-size: 16px;
                padding: 16px;
                border: 1px solid var(--darkgrayblue);
                transition: 0.25s;
                border-radius: 30px;
                
                &:hover,
                &:active {
                    background-color: (var(--darkgrayblue));
                    color: (var(--title));
                    padding: 20px;
                }
            }
        }
        
        

            
            @include lg{
                display: grid;
                gap: 16px;
                grid-template-columns: repeat(3, 1fr);
                grid-template-areas: 
                "p1 p2 p3";
            }

            #p1{    
                display: grid;
                gap: 16px;
                grid-template-columns: 30% auto;
                grid-template-areas: 
                "product1 type"
                ". swatches";

                .product1{
                    width: 100px;
                    grid-area: product1;
                    padding: 16px 16px 0;
                }

                .type{
                    grid-area: type;
                    align-items: right;
                    padding-top: 20px;
                    padding-left: 10px;
                }

                .swatches{
                    grid-area: swatches;
                }

                @include lg{
                    grid-area: p1; 
                    border: 1px solid transparent;
                    border-image: linear-gradient(to bottom, #647F95, black);
                    border-image-slice: 1;
                    padding: 10px; 

                    display: grid;
                    gap: 16px;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-areas: 
                    ". product1 "
                    "type . "
                    "swatches . ";



                    .product1{
                        width: 73%;
                        padding: 0;
                        align-items: center;
                    }
                    
                }
                
                

                border: 1px solid var(--darkgrayblue);
                padding: 10px;
            
            }
            #p2{

                display: grid;
                gap: 16px;
                grid-template-columns: 30% auto;
                grid-template-areas: 
                "product2 type"
                ". swatches";

                .type{
                    grid-area: type;
                    align-items: right;
                    padding-top: 20px;
                    padding-left: 10px;
                }

                .swatches{
                    grid-area: swatches;
                }
                
                .product2{
                    width: 110px;
                    grid-area: product2;
                    padding: 16px 16px 0;
                }
                @include lg{
                    grid-area: p2;  
                    border: 1px solid transparent;
                    border-image: linear-gradient(to bottom, #647F95, black);
                    border-image-slice: 1;
                    padding: 10px;

                    grid-template-columns: repeat(2, 1fr);
                    grid-template-areas: 
                    ". product2 "
                    "type . "
                    "swatches . ";

                    .product2{
                        width: 80%;
                        padding: 0;
                    }
                }

                
                border: 1px solid var(--darkgrayblue);
                padding: 10px;
            
            }
            #p3{
                display: grid;
                gap: 16px;
                grid-template-columns: 30% auto;
                grid-template-areas: 
                "product3 type"
                ". swatches";

                .type{
                    grid-area: type;
                    align-items: right;
                    padding-top: 20px;
                    padding-left: 10px;
                }

                .swatches{
                    grid-area: swatches;
                }
                
                .product3{
                    width: 130px;
                    grid-area: product3;
                    padding: 16px 16px 0;
                }

                
                @include lg{
                    grid-area: p3; 
                    border: 1px solid transparent;
                    border-image: linear-gradient(to bottom, #647F95, black);
                    border-image-slice: 1;
                    padding: 10px;

                    grid-template-columns: repeat(2, 1fr);
                    grid-template-areas: 
                    ". product3 "
                    "type . "
                    "swatches . ";

                    .product3{
                        width: 100%;
                        padding: 0;
                    }

                }
                border: 1px solid var(--darkgrayblue);
                padding: 10px;
            }
        }
    }
}
