/* =============
    reviews
============= */


#reviews{

    scroll-margin-top: 80px;
    
    background-color: white;
    margin-bottom: 20px;

    div{
        
        padding: 24px;
        gap: 16px;


        ul{

            .profile{
                margin-left: -30px;
                grid-area: profile;

                @include lg{
                    margin-left: -5px;
                    margin-top: 20px;
                }

                a:link, a:visited {
                    background-color: var(--white);
                    color: (var(--darkgrayblue));
                    padding: 26px 26px 30px;
                    border: 1px solid var(--darkgrayblue);
                    transition: 0.25s;
                    border-radius: 50%;
                    
                    &:hover,
                    &:active {
                        background-color: (var(--darkgrayblue));
                        color: (var(--title));
                        padding: 20px;
                    }
                }
            }

            @include lg{
                display: grid;
                gap: 16px;
                grid-template-columns: repeat(2, 1fr);
                grid-template-areas: 
                "r1 r2"
                "r3 r4"; 
            }
            
        

            li{
                border: 1px solid transparent;
                border-image: linear-gradient(to bottom, #647F95, white);
                border-image-slice: 1;
                padding: 15px;

            }

            .username{
                grid-area: username;
                margin-left: -100px;
            }

            .date{
                grid-area: date;
            }

            .note{
                grid-area: note;
                margin-left: -40px;
                
            }

            .colortoaster{
                grid-area: color;
            }

            .verified{
                grid-area: verified;
            }

            .review{
                grid-area: review;
            }
            .stars{
                display: inline-block;
                grid-area: stars;
                margin-top: 20px;
            }


        
            
        #r1{

            display: grid;
            grid-template-columns: 40% auto;
            // grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
            "profile username"
            "stars note"
            "date date"
            "color verified"
            "review review";

            @include md{
                grid-area: r1; 
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-areas:
                "profile username . ."
                "stars stars note note . ."
                "date date . ."
                "color color verified verified"
                "review review review review"; 
            }

            @include lg{
                grid-area: r1; 
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-template-areas:
                "profile . username . . ."
                "stars stars note note . ."
                "date date . . . ."
                "color color verified verified . ."
                "review review review review review review"; 
            }
        
        }
        #r2{
            display: grid;
            grid-template-columns: 40% auto;
            // grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
            "profile username"
            "stars note"
            "date date"
            "color verified"
            "review review";




            @include md{
                grid-area: r2; 
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-areas:
                "profile username . ."
                "stars stars note note . ."
                "date date . ."
                "color color verified verified"
                "review review review review"; 
            }

            @include lg{
                grid-area: r2; 
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-template-areas:
                "profile . username . . ."
                "stars stars note note . ."
                "date date . . . ."
                "color color verified verified . ."
                "review review review review review review"; 
            }
        }
        #r3{
            display: grid;
            grid-template-columns: 40% auto;
            // grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
            "profile username"
            "stars note"
            "date date"
            "color verified"
            "review review";

            @include md{
                grid-area: r3; 
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-areas:
                "profile username . ."
                "stars stars note note . ."
                "date date . ."
                "color color verified verified"
                "review review review review"; 
            }

            @include lg{
                grid-area: r3; 
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-template-areas:
                "profile . username . . ."
                "stars stars note note . ."
                "date date . . . ."
                "color color verified verified . ."
                "review review review review review review"; 
            }
        

        }
        #r4{
            display: grid;
            grid-template-columns: 40% auto;
            // grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
            "profile username"
            "stars note"
            "date date"
            "color verified"
            "review review";
            @include md{
                grid-area: r4; 
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-areas:
                "profile username . ."
                "stars stars note note . ."
                "date date . ."
                "color color verified verified"
                "review review review review"; 
            }

            @include lg{
                grid-area: r4; 
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                grid-template-areas:
                "profile . username . . ."
                "stars stars note note note ."
                "date date . . . ."
                "color color verified verified . ."
                "review review review review review review"; 
            }

        }
    }
    }
}