/* =============
    search
============= */

#search{

    // scroll-margin-top: 170px;
    background-color: black;

    padding: 40px;
    div{

        // display: flex;
        // align-items: center; 

        // font-family: 'Poppins', 'Regular', 'Sans-serif';
        
        // padding: 20px;

        // border: none;

        // color: var(--flower);
        // background-color: var(--iceblue);
        // padding-left: 26px; 
        // font-size: rem-calc(20);
        form{

            display: flex;
            justify-content: center;
            align-items: center;

            padding: 40px;
            gap: 20px;

            input{
            background-color: transparent;
            font-family: 'Poppins', 'Regular', 'Sans-serif';
            color: (var(--darkgrayblue));
            width: 70%;
            border: 1px solid var(--darkgrayblue);
            border-radius: 20px;
            padding: 16px 24px;
            
            }

        }      
        
        a:link, a:visited {

            color: (var(--darkgrayblue));
            transition: 0.25s;
            display: inline-block;
            background-color: none;
            border: 1px solid (var(--darkgrayblue));
            border-radius: 30px;
            padding: 8px 16px;
            
            &:hover,
            &:active {
                color: (var(--title));
                padding: 20px;
            }
        }

    }
}
