/* =============
    Base
============= */

.resize-img{
    width: 100%;

}

ul{
    padding: 0;
    margin: 0;

    li{
        list-style: none;
    }
}


// .discription{
//     display: flex; 
//     justify-content: center;
//     align-items: center;

//     text-align: center;
// }
