/* =============
    Typography
============= */

header{
    font-family: sans-serif;
}
#discription{
    font-family: sans-serif;
    font-size: 16px;
    line-height: 19px;
}
#features{
    font-family: sans-serif;
    color: var(--offwhite);
    h1{
        color: var(--offwhite);
        font-weight: bold;
        font-size: 30px;
    }
    h2{
        font-weight: lighter;
    }
    p{
        font-weight: lighter;
        font-size: small;
        line-height: 17px;
    }
}
#accessories{
    font-family: sans-serif;
    h1{
        color: var(--titlewhite);
        font-size: 30px;
        font-weight: bold;
        

    }
    h2, p{
        color: var(--darkgrayblue);
    }
    p{
        font-weight: lighter;
        font-size: small;
    }
}
#product{
    font-family: sans-serif;
    line-height: 0px;
    h1{
        color: var(--offwhite);
        font-size: 30px;
    }
    
        h2{
            color: var(--offwhite);
            font-weight: bold;
            font-size: 20px;
        }
        h3{
            color: var(--offwhite);
            font-weight: lighter;
            font-size: medium;
        }
        h4{
            color: var(--titlewhite);
            font-weight: lighter;
            font-size: smaller;
        }
        
}
#reviews{
    font-family: sans-serif;

    h1{
        font-size: 30px;
    }
    h1, h2, h3{
        color: var(--titlewhite);
        font-weight: bolder;
    }
    h4 {
        color: var(--titlewhite);
        font-weight: lighter;
    }
    .verified{
        color: var(--darkgrayblue);
        font-weight: lighter;
    }
    p{
        color: var(--darkgrey);
        font-weight: lighter;
    }

}

#gallery{
    font-family: sans-serif;
    color: var(--title);
    font-weight: bold;
}
#search{
    font-family: sans-serif;
    color: var(--titlewhite);
}

footer{

    div{
      font-family: sans-serif;

    .title{
        color: var(--white);
        font-size: 16px;
    }
    .items{
        color: var(--titlewhite);
        font-size: 10px;
    }

    .textfooter{
        color: var(--white);
    }

    p{
        color: var(--white);
    }  
    }
    

}


/* =============
   checkout
============= */

#checkout{
    font-family: sans-serif;
    
    .white{
        color: var(--white);
    }
    .blue{
        color: var(--darkgrayblue);
    }

}


/* =============
    thankyou
============= */

#thankyou{

    #yourorder{
        font-family: sans-serif;
        color: var(--white);
    h1{
        font-size: 40px;
    }
    
    }
    #writereview{
        font-family: sans-serif;
        color: var(--darkgrayblue);
    }

}

