/* =============
    hero
============= */

#hero{

    background-color: black;
    color: var(--title);
    padding-bottom: 20px;



        img{
            width: 100%;
        }
        div{
            .discription{
                padding-top: 20px;
                padding-bottom: 20px;

                font-family: 'Poppins', 'Regular', 'Sans-serif';
                
                
                display: flex;
                text-align: center;  
                justify-content: center;
                align-items: center;

                
                border: 1px solid transparent;
                border-image: linear-gradient(to bottom, #647F95, black);
                border-image-slice: 1;
                padding: 15px;

            }
                
        }
            
}



// #heroes{
//     scroll-margin-top: 200px;
    
//     display: grid;
//     grid-template-columns: 16px auto 16px;
//     grid-template-areas: ". heroes .";

//     >div{
//         grid-area: heroes;
// }
// }