/* =============
    Footer
============= */


footer{

    background-color: var(--darkgrayblue);

    div{
        padding: 20px 20px 10px;
        font-family: sans-serif;
        
        @include md{
            display: grid;
            grid-template-columns: repeat (4, 1fr);
            grid-template-areas:
            "care account info subscribe"
            "copyright copyright . .";

            padding: 30px 70px 20px;

        }

        #care{
            grid-area: care;
        }
        #account{
            grid-area: account;
        }
        #info{
            grid-area: info;

            a:link, a:visited {
    
                color: (var(--titlewhite));
                text-decoration: none;
                font-size: 16px;
                transition: 0.25s;
                display: inline-block;
                // line-height: 30px;
                padding-bottom: 10px;
                
                &:hover,
                &:active {
                    background-color: (var(--offwhite));
                    color: (var(--darkgrayblue));
                    padding: 5px;
                }
            }
        }

        #subscribe{

            form{

                display: flex;
                justify-content: center;
                align-items: center;

                padding: 10px;
                gap: 10px;

                @include md{
                    padding: 40px;
                    gap: 20px;
                }
                
    
                input{
                background-color: var(--offwhite);
                font-family: 'Poppins', 'Regular', 'Sans-serif';
                color: (var(--darkgrayblue));
                width: 70%;
                border: 1px solid var(--offwhite);
                border-radius: 20px;
                padding: 16px 24px;
                }
    
                button{
                    background-color: none;
                    color: var(--darkgrayblue);
                    border: 1px solid (var(--offwhite));
                    border-radius: 30px;
                    padding: 10px 10px;
                    
                }
            }  
    
            a:link, a:visited {
    
                    color: (var(--offwhite));
                    text-decoration: none;
                    font-size: 12px;
                    padding: 12px;
                    border: 1px solid var(--offwhite);
                    transition: 0.25s;
                    border-radius: 20px;
                    display: inline-block;
                    
                    &:hover,
                    &:active {
                        background-color: (var(--offwhite));
                        color: (var(--darkgrayblue));
                        padding: 15px;
                    }
                }

        }

        #social{
            
            grid-area: social;
            ul{
                display: flex;
                gap: -5px;

                a:link, a:visited {

                    color: (var(--titlewhite));
                    text-decoration: none;
                    padding: 10px;
                    display: inline-block;
                    transition: 0.15s;
                    text-align: right;
                    
                    &:hover,
                    &:active {
                        padding: 16px;
                    }
                }   
            }
        }

        #copyright{
            grid-area: copyright;
            display: flex;

        }

    }  
}





