/* =============
    Header
============= */

header{

    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 10% auto;
    grid-template-areas: 
    "logo burger-btn"
    "nav nav";
    width: 100%;
    // box-shadow: 0px 5px 7px rgba(42, 48, 54, 0.3);
    box-sizing: border-box;


    div{
        color: var(--darkgrayblue);
        
        

        #logo, #burger-btn {float:left; display: inline; width: 49%;}

    #logo-container{
        grid-area: logo;
        display: flex;
        align-items: center;
        justify-content: center; 
        padding-top: 20px;
        padding-bottom: 10px;

    }

    #burger-container{
        grid-area: burger-btn;
        display: flex;
        align-items: center;
        justify-content: right;  
        
        padding: 20px;

        border: none;

        color: var(--flower);
        background-color: var(--iceblue);
        padding-left: 26px; 
        font-size: rem-calc(20);

        @include lg{
            display: none;
        }
        

    }

    #main-menu{
        display: none;
        @include lg{
            display: flex;
        }

    }

    nav{
        grid-area: nav;
        padding-top: 10px;
    }

    }
}