/* =============
    Navigation
============= */


.show-menu{
    display: block !important;
}

html{
    scroll-behavior: smooth;
}

nav{
    position: absolute;
    display: none;
    padding-top: 20px;
    // text-align: right;

    @include md{
        display: block;
    }

    ul{
        position: center;

        @include md{
            display: flex;
            justify-content: center;
            align-items: center;
        }


        li{

            @include md{
                padding: 5px;
            }


            a:link, a:visited{
                display: inline-block;
                color: var(--darkgrayblue);
                font-family: 'Poppins', 'Regular', 'Sans-serif';
                font-size: 14px;
                padding: 5px 5px;
                
                @include md{
                    padding: 16px 16px;
                    transition: 0.25s;
                    border-radius: 6px;

                }

                &:hover, &:active{
                    @include md{
                        color: var(--darkgrey)  
                    }
                    
                }
            }
        }
    }
}