/* =============
    Navigation
============= */


.show-menu{
    display: block !important;
}

html{
    scroll-behavior: smooth;
}

nav{

    display: none;
    // text-align: right;

    

    @include lg{
        display: block;
    }

    ul{
        position: center;

        @include lg{
            display: flex;
            justify-content: center;
            align-items: center;
        }


        li{
            display: inline-block;
            text-align: center;

            @include lg{
                margin-left: 5px;
            }


            a:link, a:visited{
                display: inline-block;
                color: var(--darkgrayblue);
                font-family: 'Poppins', 'Regular', 'Sans-serif';
                font-size: 26px;
                padding: 16px 16px;
                
                @include lg{
                    padding: 24px 26px;
                    transition: 0.25s;
                    border-radius: 6px;
                    padding: 24px 36px;

                }

                &:hover, &:active{
                    @include lg{
                        color: var(--darkgrey)  
                    }
                    
                }
            }
        }
    }
}