/* =============
    Navigation
============= */


.show-menu{
    display: block !important;
}

html{
    scroll-behavior: smooth;
}

nav{

    display: none;
    text-align: right;
    padding-bottom: 10px;

    ul{
        position: center;
        
        @include lg{
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }


        li{
            display: inline-block;
            text-align: right;

            @include lg{
                margin-left: 10px;
            }
            a:link, a:visited{
                display: inline-block;
                color: var(--darkgrayblue);
                font-size: 16px;
                padding: 24px 26px;
                
                padding: 16px 10px;
                transition: 0.25s;

                @include lg{
                    font-size: 20px;
                }

                &:hover, &:active{
                    background-color: var(--offwhite);
                    border-radius: 30px;
                    padding: 16px;
                
                }
            }

            button{
                display: inline-block;
                color: var(--darkgrayblue);
                font-size: 20px;
                padding: 24px 26px;
                
                padding: 16px 10px;
                transition: 0.25s;
                font-size: 16px;

                @include lg{
                    font-size: 16px;
                }

                &:hover, &:active{
                    background-color: var(--offwhite);
                    border-radius: 30px;
                    padding: 16px;
                
                }
            }
        }
    }
}