/* =============
    timeline
============= */

#checkout{

    background-color: black;
    margin-top: 95px;
    padding: 20px;


    @include md{
        border: none;
    }

    @include lg{
        border: none;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-areas:
        "process process . ."
        "order order code code"
        "order order calculate calculate"
        ". . confirm .";
    }
    
    #process{
        grid-area: process;
        padding-left: 30px;


        .circlecheckout{
            margin-top: -50px;
            margin-left: -30px;

        }

        #timelinecheckout{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            gap: 5px;

            @include md{
                display: flex;
                justify-content: space-between;
            }

            a:link, a:visited {
                background-color: var(--black);
                color: (var(--offwhite));
                transition: 0.25s;
                border-radius: 50%;
                
                &:hover,
                &:active {
                    background-color: var(--offwhite);
                    border: 1px solid var(--darkgrayblue);
                    color: (var(--darkgrayblue));
                    padding: 20px;
                }
            }
               
        }

        #timelineaddress{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            @include md{
                display: flex;
                
                justify-content: space-between;
            }
            a:link, a:visited {
                background-color: var(--black);
                color: (var(--offwhite));
                transition: 0.25s;
                border-radius: 50%;
                
                &:hover,
                &:active {
                    background-color: var(--offwhite);
                    border: 1px solid var(--darkgrayblue);
                    color: (var(--darkgrayblue));
                    padding: 20px;
                }
            }
        }

        #timelinepayment{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            @include md{
                display: flex;
                justify-content: space-between;
            }
            a:link, a:visited {
                background-color: var(--black);
                color: (var(--offwhite));
                transition: 0.25s;
                border-radius: 50%;
                
                &:hover,
                &:active {
                    background-color: var(--offwhite);
                    border: 1px solid var(--darkgrayblue);
                    color: (var(--darkgrayblue));
                    padding: 20px;
                }
            }
        }

        #timelinereview{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            a:link, a:visited {
                background-color: var(--black);
                color: (var(--darkgrayblue));
                border:none;
                transition: 0.25s;
                border-radius: 50%;
                
                &:hover,
                &:active {
                    background-color: var(--offwhite);
                    border: 1px solid var(--darkgrayblue);
                    color: (var(--darkgrayblue));
                    padding: 20px;
                }
            }
        }
    }

    #order{

       .blue{
            padding-left: 20px;
            padding-top: 20px;
       }

        @include md{
            border: none;
        }

        grid-area: order;
        border: 1px solid transparent;
        border-image: linear-gradient(to bottom, #647F95, black);
        border-image-slice: 1;



        .bluetoaster{
            grid-area: bluetoaster;
            @include md{
                border: 1px solid transparent;
                border-image: linear-gradient(to right, #647F95, black);
                border-image-slice: 1;
            }
           
            display: flex;

            img{
                width: 150px;
            }

            #TOASTERBLUE{
            display: flex;
            flex-direction: column;
            line-height: 0;
            text-align: right;
            margin-left: 40px;
            padding-top: 20px;
            padding-right: 10px;

            h2{
                line-height: 25px;
            }
            #colorblue{
                line-height: 25px;
            }

            }
            
        }

        #remove1{
                display: flex;
                justify-content: end;
                padding: 0 20px 50px 0;

                 a:link, a:visited {
                background-color: transparent;
                color: (var(--darkgrayblue));
                transition: 0.25s;
                border-radius: 50%;
                
                &:hover,
                &:active {
                    background-color: var(--darkgrayblue);
                    color: (var(--offwhite));
                    padding: 10px;
                    border-radius: 30px;
                    text-decoration: none;
                }
            }

            }

        
        .pinktoaster{
            grid-area: pinktoaster;
            display: flex;

            @include md{
                border: 1px solid transparent;
                border-image: linear-gradient(to right, #647F95, black);
                border-image-slice: 1;
            }
            

            img{
                width: 150px;
            }

            #TOASTERPINK{
            display: flex;
            flex-direction: column;
            line-height: 0%;
            text-align: right;
            margin-left: 40px;
            padding-top: 20px;
            padding-right: 10px;

            h2{
                line-height: 25px;
            }
            #colorpink{
                line-height: 25px;
            }

            }
           
        } 
        #remove2{
            display: flex;
            justify-content: end;
            padding: 0 20px 10px 0;

               a:link, a:visited {
                background-color: transparent;
                color: (var(--darkgrayblue));
                transition: 0.25s;
                border-radius: 50%;
                
                &:hover,
                &:active {
                    background-color: var(--darkgrayblue);
                    color: (var(--offwhite));
                    padding: 10px;
                    border-radius: 30px;
                    text-decoration: none;
                }
            }
            }
    }

    form{

        display: flex;
        justify-content: center;
        align-items: center;

        padding: 40px;
        gap: 20px;

        input{
        background-color: transparent;
        font-family: 'Poppins', 'Regular', 'Sans-serif';
        color: (var(--darkgrayblue));
        width: 70%;
        border: 1px solid var(--darkgrayblue);
        border-radius: 20px;
        padding: 16px 24px;
        }

        button{
            background-color: none;
            border: 1px solid (var(--darkgrayblue));
            border-radius: 30px;
            padding: 16px 24px;

            
        }
    }  
    #code{
        grid-area: code;

        @include md{
            margin: -20px;
        }

        a:link, a:visited {

            color: (var(--darkgrayblue));
            text-decoration: none;
            font-size: 16px;
            padding: 16px;
            border: 1px solid var(--darkgrayblue);
            transition: 0.25s;
            border-radius: 20px;
            display: inline-block;
            
            &:hover,
            &:active {
                background-color: (var(--darkgrayblue));
                color: (var(--title));
                padding: 20px;
            }
        } 
    }

    #calculate{
        grid-area: calculate;

        border: 1px solid transparent;
        border-image: linear-gradient(to bottom, #647F95, black);
        border-image-slice: 1;
        padding: 16px;
        line-height: 0%;

        #subtotal{
            display: flex; 
            justify-content: space-between;
               
        }

        #shipping{
            display: flex;
            justify-content: space-between;
        }

        #tax{
            display: flex;
            justify-content: space-between;
        }

        #totalamount{
            display: flex;
            justify-content: space-between;
        }
        
    }
    #confirm{
        grid-area: confirm;
        display: flex;
        justify-content: space-between;
        gap: 50px;

       a:link, a:visited {

        color: (var(--darkgrayblue));
        text-decoration: none;
        font-size: 16px;
        padding: 16px;
        border: 1px solid var(--darkgrayblue);
        transition: 0.25s;
        border-radius: 20px;
        display: inline-block;
        
        &:hover,
        &:active {
            background-color: (var(--darkgrayblue));
            color: (var(--title));
            padding: 20px;
        }
    } 
    
    .shopping{
        grid-area: shopping;
    }

    .place{
        grid-area: place;
    }

    }

    
    
}